{% load static %}
<html>
<head>
	<title>魔法少女サイト</title>
	<link rel=stylesheet type="text/css" href="{%static 'css/amplification.css' %}">
</head>
<body bgcolor="#191920">
	<div class="wrapper">
	<div id="b">
		<form method="post" action="" onsubmit="if(!confirm('Are you sure to logout')){return false;}"> 
		{% csrf_token %}
		<input type="submit" class="input" value="Logout" style="">
		</form>
	</div>
	</div>
	<div class="wrapper2">
	<table style="border:5px #ffffff solid;border-radius:15px;background-color:#000000;width:1080px;height:650px;padding: 20px; " >
		<tr>
			<td colspan="3">
				<h2>テンペストについて</h2>
			</td>
		</tr>
		<tr>
		<td width="15%"></td>
		<td width="80%">
			<p>8月11日19時23分に先人類による人類選別、テンペストが起きます。<br>
				先人類の王の封印が解かれた時、人類の大半は滅亡することになるでしょう。
			</p>
			<p>常人ならばテンベストの回避は免れませんが<br>
				ただ一つだけ助かる方法があります。
			</p>
			<p>
				それは食物連鎖の最上である王のお腹を満たすこと。
			</p>
			<p>
				王は人間の不のエネルギーを餌としているため、<br>
				これを譲渡することによりテンペストを回避することができます。<br>
				不のエネルギーは魔法少女サイトからお渡ししたステッキを使用することにより<br>
				ステッキ本体にエネルギーが蓄積されます。
			</p>
			<p>
				ステッキをより多く使用し、なおかつ他の魔法少女よりも不のエネルギーを誰よも<br>
				多く譲渡した者のみが来たるテンペストの日の回避対象となります。
			</p>
			<p>
				生き残りたければ不のエネルギーが充分に満たされたステッキをテラベストの日に<br>
				我々、魔法少女サイトにお渡しください。
			</p>
			<p>
				それではよい終末をお過ごしください。
			</p>
		</td>
		<td width="5%"></td>
	</tr>
	</table>
	</div>
	<script type="text/javascript" src="{%static 'js/jquery.js' %}"></script>
	</body>
</html>