{% load static %}
<html>
<head>
	<title>魔法少女サイト</title>
	<link rel=stylesheet type="text/css" href="{%static 'css/main.css' %}">
</head>
<body bgcolor="#000000">
	 <div class="wrapper" id="disappear">
   	  <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-1" style="background-image: url({% static 'img/chii.jpg' %});">
                </div>
           </li>
     </ul>
   	<div class="wrapper2">
      		<img class="blink-image" src="{% static 'img/shantou.jpg' %}">
   	</div>
   </div>
   <div class="wrapper3" id="appear" style="display: none;">
   	<img src="{% static 'img/main-f.png' %}">
	<a href="hide"><button type="button" id="ear"></button></a>
	<div id="b">
		<form method="post" action="" onsubmit="if(!confirm('Are you sure to logout')){return false;}"> 
		{% csrf_token %}
		<input type="submit" class=".input" value="Logout" style="">
		</form>
	</div>
    </div>
	<script type="text/javascript">
	var audio = document.createElement("audio");
	audio.autoplay = true;
	audio.load();
	audio.addEventListener("load",function(){
		audio.currentTime = 0;
		audio.play();
	},true);
	audio.src = "{%static 'music/main-load.mp3' %}";
	</script>
	<script type="text/javascript" src="{%static 'js/jquery.js' %}"></script>
	<script type="text/javascript">
	$("#ear").click(function(event){
	var music = new Audio("{%static 'music/main-button.mp3' %}");
	music.pause();
	music.currentTime = 0;
	music.play();
	});
	</script>
	<script type="text/javascript">
		$(function(){
    	$("a").click(function(evt){
    	evt.preventDefault();
        var link = $(this).attr("href");
        setTimeout(function() {
            window.location.href = link;
        }, 3500);
    	});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
 			$('#disappear').fadeOut(5000);
 			setTimeout("$('#appear').fadeIn(1500)",4000)
 		})
 	</script>
</body>
</html>